// SPDX-License-Identifier: GPL-2.0+
// Copyright (c) 2021 - 2024 AMD Inc.
// Author: Supreeth Venkatesh <supreeth.venkatesh@amd.com>

/dts-v1/;

#include "ast2600-amd-bmc-common.dtsi"

/ {
	model = "AMD Onyx BMC";
	compatible = "amd,onyx-bmc", "aspeed,ast2600";
};

&i2c2 {
	// P0 APML - i2c10
	status = "okay";
	bus-frequency = <400000>;

	sbrmi@3c {
	compatible = "amd,sbrmi";
		reg = <0x3c>;
	};

	sbtsi@4c {
		compatible = "amd,sbtsi";
		reg = <0x4c>;
	};
};

#include <dt-bindings/i3c/i3c.h>

#define JESD300_SPD_I2C_MODE(bus, index, addr) \
spd_ ## bus ## _ ## index: spd@addr { \
        compatible = "eeprom"; \
        reg = <0x ## addr 0x0 0x0>; \
}

#define JESD300_PMIC_I2C_MODE(bus, index, addr) \
pmic5xxx_ ## bus ## _ ## index: pmic@addr { \
        compatible = "eeprom"; \
        reg = <0x ## addr 0x0 0x0>; \
}

#define JESD300_RCD_I2C_MODE(bus, index, addr) \
rcd_ ## bus ## _ ## index: rcd@addr { \
        compatible = "eeprom"; \
        reg = <0x ## addr 0x0 0x0>; \
}

&i3c0 {
        // P0 DIMM (A-F) SPD Access
        status = "okay";
	bus-context = /bits/ 8 <I3C_BUS_CONTEXT_JESD403>;
        i2c-scl-hz = <100000>;

        // DIMM A
        JESD300_SPD_I2C_MODE(0, 0, 50);
        JESD300_PMIC_I2C_MODE(0, 0, 48);
        JESD300_RCD_I2C_MODE(0, 0, 58);

        // DIMM B
        JESD300_SPD_I2C_MODE(0, 1, 51);
        JESD300_PMIC_I2C_MODE(0, 1, 49);
        JESD300_RCD_I2C_MODE(0, 1, 59);

        // DIMM C
        JESD300_SPD_I2C_MODE(0, 2, 52);
        JESD300_PMIC_I2C_MODE(0, 2, 4A);
        JESD300_RCD_I2C_MODE(0, 2, 5A);

        // DIMM D
        JESD300_SPD_I2C_MODE(0, 3, 53);
        JESD300_PMIC_I2C_MODE(0, 3, 4B);
        JESD300_RCD_I2C_MODE(0, 3, 5B);

        // DIMM E
        JESD300_SPD_I2C_MODE(0, 4, 54);
        JESD300_PMIC_I2C_MODE(0, 4, 4C);
        JESD300_RCD_I2C_MODE(0, 4, 5C);

        // DIMM F
        JESD300_SPD_I2C_MODE(0, 5, 55);
        JESD300_PMIC_I2C_MODE(0, 5, 4D);
        JESD300_RCD_I2C_MODE(0, 5, 5D);
};

&i3c1 {
        // P0 DIMM (G-L) SPD Access
        status = "okay";
        bus-context = /bits/ 8 <I3C_BUS_CONTEXT_JESD403>;
        i2c-scl-hz = <100000>;

        // DIMM G
        JESD300_SPD_I2C_MODE(1, 0, 50);
        JESD300_PMIC_I2C_MODE(1, 0, 48);
        JESD300_RCD_I2C_MODE(1, 0, 58);

        // DIMM H
        JESD300_SPD_I2C_MODE(1, 1, 51);
        JESD300_PMIC_I2C_MODE(1, 1, 49);
        JESD300_RCD_I2C_MODE(1, 1, 59);

        // DIMM I
        JESD300_SPD_I2C_MODE(1, 2, 52);
        JESD300_PMIC_I2C_MODE(1, 2, 4A);
        JESD300_RCD_I2C_MODE(1, 2, 5A);

        // DIMM J
        JESD300_SPD_I2C_MODE(1, 3, 53);
        JESD300_PMIC_I2C_MODE(1, 3, 4B);
        JESD300_RCD_I2C_MODE(1, 3, 5B);

        // DIMM K
        JESD300_SPD_I2C_MODE(1, 4, 54);
        JESD300_PMIC_I2C_MODE(1, 4, 4C);
        JESD300_RCD_I2C_MODE(1, 4, 5C);

        // DIMM L
        JESD300_SPD_I2C_MODE(1, 5, 55);
        JESD300_PMIC_I2C_MODE(1, 5, 4D);
        JESD300_RCD_I2C_MODE(1, 5, 5D);
};

