/dts-v1/;

#include "ast2400.dtsi"
#include <dt-bindings/gpio/gpio.h>

/ {
	model = "Sthelens BMC";
	compatible = "ms,sthelens-bmc", "aspeed,ast2400";
	ahb {
		mac0: ethernet@1e660000 {
		        compatible = "faraday,ftgmac100", "aspeed,ast2400-mac";
		        reg = <0x1e660000 0x180>;
		        interrupts = <2>;
		        no-hw-checksum;
		        status = "disabled";
		};

		mac1: ethernet@1e680000 {
		        compatible = "faraday,ftgmac100", "aspeed,ast2400-mac";
		        reg = <0x1e680000 0x180>;
		        no-hw-checksum;
		        interrupts = <3>;
		};

		fmc@1e620000 {
			reg = < 0x1e620000 0x94
				0x20000000 0x02000000 >;
			#address-cells = <1>;
			#size-cells = <0>;
			compatible = "aspeed,fmc";
			flash@0 {
				reg = < 0 >;
				compatible = "jedec,spi-nor" ;
				/*
				 * Possibly required props:
				 * spi-max-frequency = <>
				 * spi-tx-bus-width = <>
				 * spi-rx-bus-width  = <>
				 * m25p,fast-read
				 * spi-cpol if inverse clock polarity (CPOL)
				 * spi-cpha if shifted clock phase (CPHA)
				 */
#include "aspeed-bmc-opp-flash-layout.dtsi"
			};
		};
		spi@1e630000 {
			reg = < 0x1e630000 0x18
				0x30000000 0x02000000 >;
			#address-cells = <1>;
			#size-cells = <0>;
			compatible = "aspeed,smc";
			flash {
				reg = < 0 >;
				compatible = "jedec,spi-nor" ;
				label = "pnor";
				/* spi-max-frequency = <>; */
				/* m25p,fast-read; */
			};
		};
		apb {
			i2c: i2c@1e78a040 {
				i2c2: i2c-bus@c0 {
					i2c-switch@77 {
							compatible = "nxp,pca9548";
							reg = <0x77>;
                			i2c@0 {
                        			reg = <0x02>;
                        			lm75@48 {
                                			compatible = "national,lm75";
                                			reg = <0x48>;
                        			};
                                    lm75@49 {
                                            compatible = "national,lm75";
                                            reg = <0x49>;
                                    };
                                    lm75@4a {
                                            compatible = "national,lm75";
                                            reg = <0x4a>;
                                    };
                                    lm75@4b {
                                            compatible = "national,lm75";
                                            reg = <0x4b>;
                                    };
                                    lm75@4c {
                                            compatible = "national,lm75";
                                            reg = <0x4c>;
                                    };
                                    lm75@4d {
                                            compatible = "national,lm75";
                                            reg = <0x4d>;
                                    };
                                    lm75@4e {
                                            compatible = "national,lm75";
                                            reg = <0x4e>;
                                    };
                                    lm75@4f {
                                            compatible = "national,lm75";
                                            reg = <0x4f>;
                                    };
                			};
                			i2c@1 {
                        			#address-cells = <1>;
                        			#size-cells = <0>;
                        			reg = <0x01>;

							/* PCAL9538 */
                			};

                			i2c@3 {
                        			#address-cells = <1>;
                        			#size-cells = <0>;
                        			reg = <0x3>;

							/* PCAL9538 x 3 */
                			};
        				};
				};
			};
		};
	};


	leds {
		compatible = "gpio-leds";

		heartbeat {
			gpios = <&gpio 140 GPIO_ACTIVE_HIGH>;
			default-state = "keep";
		};
		identify {
			gpios = <&gpio 44 GPIO_ACTIVE_LOW>;
			default-state = "keep";
		};
		beep {
			gpios = <&gpio 111 GPIO_ACTIVE_HIGH>;
			default-state = "keep";
		};
	};
};

